.profile-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info {
  font-size: 18px;
  color: rgb(248, 248, 248);
  text-align: left;
}

.home-button {
  display: flex;
  position: fixed;
  top: 25px;
  left: 20px;
  padding: 10px 20px;
  background-color: #70704f;
  color: white;
  text-decoration: none;
  border-radius: 15px;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.home-button .icon {
  margin-bottom: 3px;
  font-size: 16px;
}

.home-button p{
  font-size: 14px;
}

.home-button:hover {
  background-color: #4b4b2a; /* Darker shade on hover */
}
