@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Lalezar';
  src: local('Lalezar'), url('./assets/fonts/Lalezar-Regular.ttf') format('truetype');
}

@layer base {
  :root {
    --primary-color: #ff6542;
    --primary-light-color: #FFEDE1;

    --text-primary-color: #181818;
    --background-color: #fffdf6;

    --button-hover-color: #FF942F;
    --button-hover-color-secondary: #d1d5db;
    /* --primary-hover-color: #fcefeb; */

    --neutral-color: #e5e7eb;
    --text-neutral-color: #737373;

    --disabled-color: #d4d4d4;

    --success-color: #22c55e;
    --warning-color: #F5CD47;
    --error-color: #ef4444;
    --info-color: #3b82f6;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #bebebe;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #929292;
}

::-ms-reveal {
  display: none;
}

body,
html {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text-primary-color);
  background: var(--background-color);
  overflow: auto;
}