@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Lalezar';
  src: local('Lalezar'), url('./assets/fonts/Lalezar-Regular.ttf') format('truetype');
}

@layer base {
  :root {
    --primary-color: #ff6542;
    --secondary-color: #6C63FF; /*6C63FF  007aff*/

    --text-primary-color: #181818;
    --background-color: #fffdf6;

    --button-hover-color: #FF942F;
    --primary-hover-color: #fcefeb;

    --neutral-color: #f5f5f5;
    --text-neutral-color: #737373;

    --success-color: #2ABB7F;
    --warning-color: #F5CD47;
    --error-color: #F15B50;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #bebebe;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #929292;
}

body,
html {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text-primary-color);
  background-color: var(--background-color);
  overflow: auto;
}